<ion-view title="Feeds">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <!---------------------------->
    <!-- FlashService code. Used to display flashmessages -->
    <div class="bar bar-loading bar-{{ rootData.flash.type }}" ng-if="rootData.flash && !rootData.Modal.isShown">
        {{ rootData.flash.message }}
    </div>
    <!---------------------------->
  <ion-content class="has-header" ng-class="{'has-loading': rootData.flash && !rootData.Modal.isShown}">
    <h1>Fil d'actu</h1>
    <div class="card" ng-repeat="feed in feeds">
      <div class="item item-divider">
          <h2>{{ feed.title }}</h2>
      </div>
      <div class="item item-text-wrap">
          <!-- Here put the desc image on the left little one -->
          <p>{{ feed.content | limitTo:limChar }}</p>
      </div>
      <div class="item item-divider">
          Posted by: <img src="<!-- Here put mini profile pic -->"> {{ feed.author.username }}
          <p>{{ feed.publishDate }} ago</p> <!-- make it go on the left. See column and grid from ionic css doc.--> <p><a href="#/app/feeds/{{feed._id}}">Read more -></a></p>
      </div>
    </div>
  </ion-content>
</ion-view>
