<ion-view title="Feeds">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <!---------------------------->
    <!-- FlashService code. Used to display flashmessages -->
    <div class="bar bar-loading bar-{{ rootData.flash.type }}" ng-if="rootData.flash && !rootData.Modal.isShown">
        {{ rootData.flash.message }}
    </div>
    <!---------------------------->
  <ion-content class="has-header" ng-class="{'has-loading': rootData.flash && !rootData.Modal.isShown}">
    <h1>Fil d'actu</h1>
     <div class="" ng-repeat="feed in feeds">
        <a href="#/app/feeds/{{feed._id }}"><h3>{{ feed.title  }}</h3></a>
	    <p>{{ feed.content | limitTo:140 }}</p>
  </ion-content>
</ion-view>
