<div class="modal">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLoginModal()">X</button>
    </div>
  </ion-header-bar>
  <ion-content ng-class="{'has-loading': rootData.flash }">
    <!---------------------------->
    <!-- FlashService code. Used to display flashmessages -->
    <!-- FlashService code. Add has-loading too-->
    <div class="bar bar-loading bar-{{ rootData.flash.type }}" ng-if="rootData.flash">
        {{ rootData.flash.message }}
    </div>
    <!---------------------------->
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <div class="button-bar">
            <button class="button button-positive" type="submit">Sign In</button>
    </form>
            <a class="button button-calm" href="#/app/signup" ng-click="closeLoginModal()">Sign Up</a>
        </div>
  </ion-content>
</div>

